.navbar {
  /* Quelle zur Hilfe: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
  background-color: beige;
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  padding: 15px;
  align-items: center;
}

.navbar li:hover {
  color: blue;
}
